In [1]:
import puredit.dsl as dsl

# 1. Read the specified file path and parse it as an Excel XML file
# 2. Select the "raw data " sheet and use it for all operations in the following block.
# To see what code these projections map to, see `example.py` or
# open the notebook on Github:
# https://github.com/niklaskorz/puredit/blob/main/apps/jupyter/example/Experiment.ipynb
with dsl.load_sheet("Raw data Chromatography.xlsx", "raw data ") as sheet:
    # 1. Select range K4:L35 from sheet.
    # 2. Filter by rows where column L contains an integer value.
    # 3. Save the results in variables K and L.
    # Note that K, L must not be named after the columns, only
    # the order of the variable names is relevant to match
    # the columns specified in the sheet range.
    # Saving the results column-wise appears to make them easier
    # for reuse, but this may still be changed.
    # Filter expressions are written in Python right now, but this
    # could for example be replaced by a simpler textual DSL.
    # It might make sense to make the expressions resemble
    # Excel formulas, but this could also lead to confusion.
    K, L = sheet.take("K4:L35", "isinstance(L, int)")
    # For all rows in variable K:
    # Select the row from range A4:B46704 where expression `abs(K - A)` is minimal.
    # The results are stored column-wise in variables A and B.
    # The expression is again written in Python.
    # Note that the column names in the expression are the actual column
    # letters as found in the Excel sheet and cannot be changed right now,
    # unlike the variable names for the results.
    # The criteria (here `minimal`) can be chosen from a list of
    # predefined methods.
    # Currently, only `minimal` and `maximal` are defined, but it
    # is possible to extend this and allow for other methods such as
    # `median`.
    A, B = sheet.join("A4:B46704", K, "abs(K - A)", dsl.AggregationMethod["minimal"])
    # Store the resulting column variables K, L, B in that order
    # in a new Excel sheet (effectively, they become A, B, C in the sheet).
    dsl.store_sheet("output.xlsx", "output", [K, L, B])
    # Display the results as a visual table in Jupyter.
    dsl.display([K, L, B])

             K   L         B
0   116.595161   2  0.316728
1   117.603325   3  0.351712
2   118.603279   4  0.332217
3   119.609947   5  0.295907
4   120.609779   6  6.895982
5   121.609871   7  9.140065
6   122.609825   8  5.862078
7   123.609810   9  4.121788
8   124.609673  10  3.111162
9   125.616402  11  2.515747
10  126.616280  12  1.993765
11  127.616310  13  1.671423
12  128.616295  14  1.438254
13  129.616310  15  1.220105
14  130.616112  16  1.027114
15  131.622902  17  0.884374
16  132.622734  18  0.840310
17  133.622826  19  0.752960
18  134.622765  20  0.758739
19  135.622734  21  0.681960
20  136.622551  22  0.631110